<body>
  <div class="container mt-4">
    <h1>New Question Answer</h1>

    <%= render 'form', question_answer: @question_answer %>

    <%#= link_to 'Back', category_question_answers_path(@category), class: 'btn btn-secondary mt-3' %>
  </div>
</body>